body{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
nav{
	background-color: #000000; 
	font-size: 1.3em;
}
ul{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
footer{
	text-align: center;
	margin-bottom: 20px;
}
a{
	text-decoration: none;
	color: #939393;
}
a:hover {
	text-decoration: none;
    color: #353535;
}

.titulos{	   
	margin-left: 100px;
	margin-top: 100px;	                    	
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	letter-spacing: -0.05em;
}

.subtitulos{
	font-family: 'Harabara', sans-serif;
	font-size: 25px;
	padding-left : 30px;
	padding-top : 10px;
}

/* Menu */
.img-menu{
	background-color: white;
}
.img-menu:hover{
	background-color: #A9A9A9;
}

/* Buy me a coffe button */
.btn-buymeacoffe{
	border-radius: 50px;
}
.btn-buymeacoffe img{
	width: 200px;
}


/* ## About ## */
.aboutdiv{
	margin-top: 20px;
}

/* card  */
.cartao-title{
	font-weight: bold;
	font-size: 90px;
	letter-spacing: -0.05em; 
}
.cartao-subtitle{
	color: #979797;
	font-size: 20px;
}
.cartao-text{
	font-size: 18px;
}

/* skills */
.skills{
	/*background-color: #FAFAFA;
	box-shadow: 0px 4px 4px #F4F3F3, 0px -4px 4px #F4F3F3;*/
	margin-top: 100px;	
}
.test{
	margin-left: 50px;
	width: 30px;
	height: 80px;
	position:  absolute;
	background-image: linear-gradient(180deg, black, #797979);
}
.m-chart{
	margin-top: 90px;
}


/* ## Index ## */
.index-div{
	margin-top: 90px; 
}

.img-index{
	position:  absolute; 
	width: 600px; 
	margin-top: 20px; 
	margin-left:  30%; 
	height: 500px;
}

.cartao-title-index{
	font-weight: bold;
	font-size: 70px; 
	letter-spacing: -0.10em;
}

/* Posts */
.posts-div{
	/*background-color: #F4F2F2;*/
	margin-bottom: 100px;
}
.posts-title{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: -0.05em;
}
.posts:hover{
    box-shadow:
    1px 1px #5D5D5D,
    2px 2px #5D5D5D,
    3px 3px #5D5D5D;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}