@import url('http://fonts.cdnfonts.com/css/harabara');

body{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
nav{
	background-color: #000000; 
	font-size: 1.3em;
}
ul{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
footer{
	text-align: center;
	margin-bottom: 20px;
}
a{
	text-decoration: none;
	color: #939393;
}
a:hover {
	text-decoration: none;
    color: #353535;
}
article {
  position: relative;
}
article:after {
  position: absolute;
  bottom: 0;  
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to top, rgba(255,255,255, 1) 20%, rgba(255,255,255, 0) 80%);
  pointer-events: none;
}

.titulos{	                       	
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	letter-spacing: -0.05em;
	margin-left: 10%;
	position:  absolute;
}
.subtitulos{
	font-family: 'Harabara', sans-serif;
	font-size: 25px;
	padding-left : 30px;
	padding-top : 10px;
}
.title-marcador{
	width: 3%;
	height: 13%;
	margin-left: 5%;
	position:  absolute;
	background-image: linear-gradient(180deg, black, #797979);
}


/* Menu */
.img-menu{
	background-color: white;
}
.img-menu:hover{
	background-color: #A9A9A9;
}
.nav-link{
	position: relative;
	padding: 5px 0;	
	margin-right: 20px;
}
.nav-link:before{
	position: absolute;
	content: '';
	left: 0;
	bottom: 0;
	height: 3px;
	width: 100%;
	background: white;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .4s linear;
}
.nav-link:hover:before{
	transform: scaleX(1);
	transform-origin: left;	
}

/* Buy me a coffe button */
.btn-buymeacoffe{
	border-radius: 50px;
}
.btn-buymeacoffe img{
	width: 200px;
}


/* ## About ## */
.about-div{
	margin-top: 3%;
}
/* card  */
.cartao-title{
	font-weight: bold;
	font-size: 90px;
	letter-spacing: -0.05em; 
}
.cartao-subtitle{
	color: #979797;
	font-size: 20px;
}
.cartao-text{
	font-size: 18px;
}

/* skills */
.skill-div{
	background-color: #FAFAFA;
	margin-top: 10%;
}
.skill-chart{
	margin-top: 10%;
}

/* facts */
.facts-div{
	margin-top: 10%;
	margin-bottom: 5%;
}
.facts-text{
	text-align: left;
	font-size: 23px;
	letter-spacing: -0.05em; 
	/*line-height: 0.7;*/
}
.facts-emoji{
	text-align: center;
	font-size: 200px;
}


/* ## Index ## */
.index-div{
	margin-top: 90px; 
}
.img-index{
	position:  absolute; 
	width: 600px; 
	margin-top: 20px; 
	margin-left:  30%; 
	height: 500px;
}
/* card */
.index-card-title{
	font-weight: bold;
	font-size: 70px; 
	letter-spacing: -0.10em;
}

/* posts */
.posts-div{
	margin-top: 10%;
	margin-bottom: 5%;
}
.posts-title{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: -0.05em;
}
.posts:hover{
    box-shadow:
    1px 1px #5D5D5D,
    2px 2px #5D5D5D,
    3px 3px #5D5D5D;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}