body{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
nav{
	background-color: #000000; 
	font-size: 1.3em;
}
ul{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
footer{
	text-align: center;
	margin-bottom: 20px;
}
a{
	text-decoration: none;
	color: #939393;
}
a:hover {
	text-decoration: none;
    color: #353535;
}

.cartao-title{
	font-weight: bold;
	font-size: 90px;
	letter-spacing: -0.05em; 
}
.cartao-subtitle{
	color: #979797;
	font-size: 20px;
}
.cartao-text{
	font-size: 18px;
}

.aboutdiv{
	margin-top: 20px;
}

.menu-lateral{
	margin-top: 100px;
	position: absolute;
}

.titulos{	   
	margin-left: 100px;
	margin-top: 100px;	                    	
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	letter-spacing: -0.05em;

}

.subtitulos{
	font-family: 'Harabara', sans-serif;
	font-size: 25px;
	padding-left : 30px;
	padding-top : 10px;
}

.skills{
	margin-top: 100px;
	/*box-shadow: inset 5em 0 black;*/
	/*box-shadow: inset 0 0 1em gray;*/
	box-shadow: inset 5em 0 black, 0px 4px 5px #EEEDED, 0px -4px 5px #EEEDED;
}

.m-chart{
	margin-top: 90px;
}

.btn-buymeacoffe{
	border-radius: 50px;
}
.btn-buymeacoffe img{
	width: 200px;
}
.img-index{
	position:  absolute; 
	width: 600px; 
	margin-top: 20px; 
	margin-left:  30%; 
	height: 500px;
}
.cartao-title-index{
	font-weight: bold;
	font-size: 70px; 
	letter-spacing: -0.10em;
}
.index-div{
	margin-top: 90px; 
}
.img-menu{
	background-color: white;
}